<!--
  ~ Copyright (c) 2020 LINE Corporation. All rights reserved.
  ~ LINE Corporation PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  -->

<included>
  <!--<include resource="org/springframework/boot/logging/logback/console-appender.xml" /> -->

  <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
    <layout>
      <pattern>
        %d{HH:mm:ss.SSS} [%thread][%X{uuid}] %-5level %logger{32}\(%line\) - %msg%n
      </pattern>
    </layout>
  </appender>
  <logger name="org.springframework" level="INFO" />
  <logger name="com.zaxxer.hikari.pool" level="INFO" />

  <root level="DEBUG">
    <appender-ref ref="console" />
  </root>
</included>