<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020 LINE Corporation. All rights reserved.
  ~ LINE Corporation PROPRIETARY/CONFIDENTIAL. Use is subject to license terms.
  -->

<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml" />

  <springProfile name="local">
    <include resource="logback-local.xml" />
  </springProfile>

  <springProfile name="test">
    <include resource="logback-local.xml" />
  </springProfile>

  <springProfile name="perftest">
    <include resource="logback-beta.xml" />
  </springProfile>

  <springProfile name="beta">
    <include resource="logback-beta.xml" />
  </springProfile>

  <springProfile name="rc">
    <include resource="logback-rc.xml" />
  </springProfile>

  <springProfile name="real">
    <include resource="logback-real.xml" />
  </springProfile>

</configuration>